@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap&subset=cyrillic");
$mainColor: #ffffff;

.game {
    background-color: #222222;
    width: 100%;
    height: auto;
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }
}
